.material-symbols--list-alt-outline {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231c7a00' d='M8 17q.425 0 .713-.288T9 16t-.288-.712T8 15t-.712.288T7 16t.288.713T8 17m0-4q.425 0 .713-.288T9 12t-.288-.712T8 11t-.712.288T7 12t.288.713T8 13m0-4q.425 0 .713-.288T9 8t-.288-.712T8 7t-.712.288T7 8t.288.713T8 9m3 8h6v-2h-6zm0-4h6v-2h-6zm0-4h6V7h-6zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zM5 5v14z'/%3E%3C/svg%3E");
}
.ic--outline-photo {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23eb4abc' d='M19 5v14H5V5zm0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-4.86 8.86l-3 3.87L9 13.14L6 17h12z'/%3E%3C/svg%3E");
}
.basil--navigation-outline {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23049aa2' fill-rule='evenodd' d='M11.762 3.25c.46.006.99.223 1.276.734l.174.312a82.5 82.5 0 0 1 6.474 14.753c.218.67-.14 1.237-.589 1.5a1.48 1.48 0 0 1-1.552-.037l-4.728-3.04c-.522-.336-1.231-.337-1.72-.028L6.464 20.37a1.48 1.48 0 0 1-1.553.01c-.427-.255-.809-.808-.61-1.482A77.7 77.7 0 0 1 10.307 4.29l.164-.308c.284-.531.832-.737 1.29-.73m-.007 1.513l-.125.233A76 76 0 0 0 5.84 18.99l4.455-2.813c1-.63 2.337-.607 3.334.034l4.496 2.892a81 81 0 0 0-6.222-14.074z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.basil--navigation-outline2 {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f96829' fill-rule='evenodd' d='M11.762 3.25c.46.006.99.223 1.276.734l.174.312a82.5 82.5 0 0 1 6.474 14.753c.218.67-.14 1.237-.589 1.5a1.48 1.48 0 0 1-1.552-.037l-4.728-3.04c-.522-.336-1.231-.337-1.72-.028L6.464 20.37a1.48 1.48 0 0 1-1.553.01c-.427-.255-.809-.808-.61-1.482A77.7 77.7 0 0 1 10.307 4.29l.164-.308c.284-.531.832-.737 1.29-.73m-.007 1.513l-.125.233A76 76 0 0 0 5.84 18.99l4.455-2.813c1-.63 2.337-.607 3.334.034l4.496 2.892a81 81 0 0 0-6.222-14.074z' clip-rule='evenodd'/%3E%3C/svg%3E");
}